html, body {
	height: 95%;
}

body * {
	outline: none !important;
}

body {
	background: #dadada;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Arial', 'sans-serif';
	font-size: 13px;
}

.wrapper {
	position: relative;
	min-height: 100%;
	padding: 0;
	background: #ffffff;
	border: solid 1px #c4c4c4;
	border-radius: 4px;
	box-shadow: 0 3px 3px #777;
}

.header {
	padding: 0 10px;
	min-height: 40px;
	margin-bottom: 0;
	border: none;
	border-bottom: solid 1px #e7e7e7;
	border-radius: 4px 4px 0 0;
}

.header .logotipo-prefeitura {
	margin-top: 2px;
	margin-bottom: 2px;
	width: 44px;
}

.header .navbar-brand {
	height: 45px;
	margin-left: -10px;
	font-size: 16px;
}

.header .navbar-brand,
.header .navbar-brand:visited,
.header .navbar-brand:hover,
.header .navbar-brand:active {
	color: #b22222;
}

.header .navbar-nav > li > a {
	padding: 15px 10px 10px;
}

.header .navbar-nav > li > a,
.header .navbar-nav > li > a:visited,
.header .navbar-nav > li > a:active {
	color: #777;
}

.header .navbar-nav > li.active > a,
.header .navbar-nav > li.active > a:visited,
.header .navbar-nav > li.active > a:hover,
.header .navbar-nav > li.active > a:active {
	color: #555;
}

.header .navbar-nav > li > a.active {
	color: #777;
	font-weight: bold;
}

.header .dropdown-menu {
	padding: 0;
	font-size: 13px;
}

.header .dropdown-menu > li > a {
	padding: 4px 10px;
	color: #777;
}

.header .dropdown-menu > li.divider {
	margin: 0;
}

.main {
	padding: 10px;
	margin-bottom: 40px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 45px;
	margin-bottom: 0;
	border: none;
	border-top: solid 1px #e7e7e7;
	border-radius: 0 0 4px 4px;
	padding: 12px 10px 0;
	text-align: center;
}

.table-radius {
	/*table-layout: fixed;*/
	border-collapse: separate;
	border: solid 1px #e7e7e7;
	border-radius: 4px;
}

.table-radius > thead > tr > th,
.table-radius > tfoot > tr > td {
	border-bottom: none;
	background: #f8f8f8;
	color: #808080;
}

.table-radius > thead > tr > th {
	text-align: center;
}

.table-radius > thead > tr > th,
.table-radius > tbody > tr > td,
.table-radius > tfoot > tr > td {
	border-left: solid 1px #e7e7e7;
	font-size: 12px;
	font-weight: normal;
}

.table-radius > tbody > tr > td {
	color: #555;
}

.table-radius > thead > tr > th:first-child,
.table-radius > tbody > tr > td:first-child {
	border-left: none;
}

.form-control:focus {
	box-shadow: inset 0 0 1px #777;
	border-color: #ccc;
}

h1, h2, h3, h4 {
	margin-top: 0;
}

/* Modal */
.modal .modal-header {
	border-bottom: none;
}

.modal .modal-footer {
	border-top: none;
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
	padding: 10px;
}

.modal-medium {
	width: 800px;
}

.modal-big {
	width: 80%;
}

/* Form */
form label {
	color: #708090;
}

/* HTML 5 Datepicker */
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-clear-button,
input[type=datetime-local]::-webkit-inner-spin-button {
	display: none;
	/*-webkit-appearance: none;*/
}

input[type=date]::-ms-clear,
input[type=datetime-local]::-ms-clear {
	display: none;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
	color: #ffffff;
	position: relative;
	font-family: 'Glyphicons Halflings';
	z-index: 0;
}

input[type=date]::-webkit-calendar-picker-indicator:before,
input[type=datetime-local]::-webkit-calendar-picker-indicator:before {
	content: "\e109";
	color: #777;
	display: block;
	left: 8px;
	position: absolute;
	top: -10px;
	z-index: 1;
}

input[type=date]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover {
	background: #ffffff;
}

input[type=date].required::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local].required::-webkit-calendar-picker-indicator:hover {
	background: #F7F7B6;
}